//==============================================================================================
// File Name: _text-input.scss
//----------------------------------------------------------------------------------------------
// This file contains all styles related to the Text input component.
//----------------------------------------------------------------------------------------------
// Used by: main.scss
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// VARIABLES
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// CORE
//----------------------------------------------------------------------------------------------
.primary-text-input[type="text"] {
  width: 20%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.primary-text-input:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.secondary-text-input[type="text"] {
  width: 20%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.secondary-text-input:focus {
  border-color: rgb(209, 76, 76);
  box-shadow: rgb(209, 76, 76);
}
