//==============================================================================================
// VARIABLES
//----------------------------------------------------------------------------------------------
// Provides variables.
//----------------------------------------------------------------------------------------------
// Used by: main.scss
//==============================================================================================

//Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

//Colors
$primary: #001524;
$secondary: #ff9100;
$third: #e36414;